name: Generate snake

on:
  # run once a day
  schedule:
    - cron: "0 0 * * *"
  # allow manual run
  workflow_dispatch:
  # run on every push to main (for testing)
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: krishna-mittal-code
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
